/public/media/*
!/public/media/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
!/public/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css

/node_modules

/etc/build/*
!/etc/build/.gitignore

/behat.yml
/phpspec.yml

/docker-compose.override.yaml
/docker-compose.override.yml
/docker/mysql/data/

/scripts/ansible/vars/

###> symfony/framework-bundle ###
/.env.*.local
/.env.local
/.env.local.php
/var/cache/*
/var/databases/*
/var/log/*
!/var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
