<footer class="ui inverted vertical footer segment" style="padding-top:0;margin-top:25px;">
    <div class="ui container fluid">
        <img src="{{ asset('assets/shop/svg/waves.svg') }}" class="ui fluid image" alt="waves footer divider">
    </div>
    <div class="ui container">
        {{ sylius_template_event('sylius.shop.layout.footer') }}
    </div>
</footer>
