{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui header">
        <i class="bomb icon"></i>
        <div class="content">
            {{ 'sylius.ui.server_has_encountered_some_errors'|trans }}
        </div>
    </h2>
{% endblock %}
