<h3 class="ui center aligned big teal header">
    <i class="search icon"></i> {{ 'sylius.homepage.brace_yoursel_winter_is_coming'|trans }}
</h3>
{{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Homepage/_carousel.html.twig'})) }}
