- name: compile yarn assets
  shell: "chdir={{ ansistrano_release_path.stdout }}
    SYMFONY_ENV={{ symfony_env }} yarn install && yarn build"
- name: fix symfony web directory apache ownership
  file:
    recurse: yes
    follow:  yes
    path:    "{{ ansistrano_release_path.stdout }}/public"
    owner:   "{{ remote_system_user }}"
    group:   "{{ remote_system_group }}"
- name: reloaded apache service
  service:
    state: reloaded
    name:  "php{{ vhost_php_version }}-fpm"
