<div class="ui inverted equal height stackable grid">
    <div class="eight wide column">
        <div class="ui left aligned inverted">
            <p>
                &copy; {{ 'now' | date('Y') }} {{ main_brand_title }}<br>
                <span style="color:#1B1C1D">{{ admin_tag_version }}</span>
            </p>
        </div>
    </div>
</div>
